@charset "utf-8";

/* 기본(모바일) */
html {
    font-family: -apple-system,BlinkMacSystemFont,helvetica,"Apple SD Gothic Neo",Arial,sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background: fixed url(./images/macbook.jpg) no-repeat 50% / cover; /* fixed -> 화면 전체를 배경이미지로 채움 */
}
nav .gnb {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
nav a {
    text-decoration: none;
    color: inherit;
    display: block;
    /* padding-left: 10px; 레이아웃에 영향 o */
    text-indent: 10px;
    border-bottom: 1px solid #fff;
    height: 50px;
    
    display: flex;
    align-items: center;
}
nav .mobile_btn {
    background-color: rgba(65, 105, 225, 0.692);
    position: relative;

}
nav .mobile_btn::after {
    content: "";
    background: url(./images/ellipsis-vertical-solid.svg) no-repeat 50% / contain;
    position: absolute;
    right: 10px; top: 50%;
    transform: translateY(-50%);
    width: 30px; height: 30px;
}